html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

body._lock {
	overflow: hidden;
}

body {
	font-family: 'Gelasio', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: $color-text-main;

	// font-family: 'Inter', sans-serif;
	// font-family: 'Roboto', sans-serif;
}

.sub-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: $color-orange;
}

.option-button {
   max-width: 150px;
   width: 100%;
   background: linear-gradient(180deg, rgba(132, 132, 132, 0.72) 0%, rgba(255, 255, 255, 0.72) 100%);
   border: 2px solid #848484;
   border-radius: 5px;
   padding: 10px;
   letter-spacing: 0.08em;
   color: $color-white;
   text-align: center;
   transition: all 0.8s ease 0s;
	cursor: pointer;
}
.option-button._error {
	border-color: red;
}


// &:hover {
// 	background: linear-gradient(180deg, rgba(217, 146, 10, 0.72) 0%, rgba(217, 146, 10, 0) 100%);
// 	border-color: $color-orange;
// }
// &:active {
// 	background: linear-gradient(180deg, rgba(96, 68, 12, 0.72) 23.44%, rgba(234, 155, 9, 0) 100%);
// 	color: $color-text-popup;
// }