// Змінні

//<COLORS>========================================
$color-white: #ffffff;
$color-orange: #D9920A;
$color-text-main: #848484;
$color-text-popup: #000000;
$color-bg-popup: #B8B8B8;
$color-bg: #000000;
//</COLORS>========================================