//<COLORS>========================================
$color-main: #1e1e1e;
$color-orange: #ff6b00;
$color-blue: #664eb0;
$color-red: #f10000;
$color-white: #ffffff;
$color-grey: #424242;

//</COLORS>========================================

//<FONTS>========================================
$fontFamily: "Effra", sans-serif;
$fontSize: 16px;
//</FONTS>========================================

//<SCREENS>========================================
$screen-xs: 359px;
$screen-sm: 640px;
$screen-md: 767px;
$screen-xhl: 1080px;
$screen-xxl: 1600px;
//</SCREENS>========================================
