body.lock {
	overflow: hidden;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(25px);
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 20px;
		@include screen-xs {
			padding: 30px 15px;
		}
	}

	&__content {
		background-color: #fff;
		box-shadow: 0px 15px 200px rgba(13, 0, 92, 0.5);
		border-radius: 20px;
		color: $color-main;
		max-width: 750px;
		width: 100%;
		padding: 60px 56px;
		position: relative;
		@include screen-sm {
			padding: 45px 20px 30px;
			border-radius: 10px;
		}
		@include screen-xs {
			padding: 45px 15px 30px;
		}
	}

	&__close {
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
		svg {
			width: 22px;
			height: 22px;
			stroke: $color-blue;
			transition: all 0.3s ease 0s;
		}
		&:hover {
			svg {
				stroke: $color-orange;
			}
		}
		@include screen-sm {
			top: 15px;
			right: 15px;
		}
	}

	&__title {
		font-size: 33px;
		line-height: 1.2;
		color: $color-grey;
		margin-bottom: 40px;
		@include screen-sm {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		&-item {
			background: #ffffff;
			border: 1px solid #6152aa;
			border-radius: 15px;
			padding: 23px;
			&:not(:last-child) {
				margin-bottom: 20px;
				@include screen-sm {
					margin-bottom: 10px;
				}
			}
			@include screen-sm {
				padding: 12px;
				border-radius: 6px;
			}
			&::placeholder {
				font-weight: 400;
				font-size: 25px;
				line-height: 26px;
				color: #a1a1a1;
				@include screen-sm {
					font-size: 16px;
					line-height: 16px;
				}
			}
		}

		&-btn {
			margin-top: 20px;
			background: $color-orange;
			border-radius: 50px;
			padding: 30px;
			font-weight: 500;
			font-size: 40px;
			line-height: 26px;
			color: $color-white;
			text-align: center;
			transition: all 0.3s ease 0s;
			&:hover {
				background-color: $color-blue;
			}
			@include screen-sm {
				margin-top: 10px;
				font-size: 18px;
				line-height: 1;
				padding: 15px;
			}
		}
	}
}
// First PopUp ------------------------------------

// Second PopUp -----------------------------------
.popup {
	&__content-next {
		max-width: 750px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px 56px;
		@include screen-sm {
			padding: 15px;
		}
	}
	&__img {
		width: calc(380 / 638 * 100%);
		padding-bottom: calc(380 / 638 * 100%);
		background-color: $color-orange;
		border-radius: 50%;
		margin-bottom: 80px;
		position: relative;
		@include screen-md {
			margin-bottom: 60px;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 200px;
			height: 165px;
			transform: translate(-50%, -50%);
		}
		@include screen-sm {
			width: 176px;
			padding-bottom: 176px;
			svg {
				width: 92px;
				height: 76px;
			}
		}
	}

	&__text {
		font-weight: 500;
		font-size: 57px;
		line-height: 1.2;
		color: $color-orange;
		text-align: center;
		@include screen-md {
			font-size: 36px;
		}
	}
}
// Second PopUp -----------------------------------
