//<Designer>========================================
.designer {
   background-color: $color-bg;
   background-image: url("../img/designer-bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   border-bottom: 1px solid $color-text-main;
   min-height: 670px;

   &__body {
      padding: 180px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1024px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 10px;
      }
      @media (max-width: 768px) {
         grid-template-columns: auto;
         padding: 140px 20px;
      }
   }

   &__content {
      padding-top: 70px;
      padding-bottom: 45px;
      max-width: 505px;
      width: 100%;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 50px;
         left: -20px;
         width: 1px;
         height: 520px;
         border-left: 3px solid transparent;
         border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.03));
         border-image-slice: 1;
      }
      &::after {
         content: "";
         position: absolute;
         bottom: 15px;
         left: -60px;
         width: 890px;
         height: 1px;
         border-bottom: 3px solid transparent;
         border-image: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.03));
         border-image-slice: 1;
      }
      @media (max-width: 1024px) {
         padding-top: 30;
      }
   }

   &__title {
      font-size: 40px;
      line-height: 51px;
      @media (max-width: 1024px) {
         @include adaptiveValue("font-size", 34, 26);
         @include adaptiveValue("line-height", 43, 33);
         @include adaptiveValue("margin-bottom", 25, 16);
      }
   }

   &__position {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.1em;
      margin-bottom: 30px;
      @media (max-width: 1024px) {
         font-size: 14px;
         line-height: 18px;
      }
   }

   &__text {
      padding-bottom: 25px;
      @media (max-width: 1024px) {
         font-size: 12px;
         line-height: 15px;
         margin-bottom: 15px;
      }
   }

   &__btn {
      display: inline-block;
      max-width: 233px;
      width: 100%;
      border: 2px solid $color-orange;
      background: linear-gradient(180deg, rgba(217, 146, 10, 0.72) 0%, rgba(217, 146, 10, 0) 100%);
      border-radius: 5px;
      padding: 15px 35px;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.1em;
      color: rgba(255, 255, 255, 0.72);
      cursor: pointer;
      transition: all 0.6s;
      &:hover {
         background: linear-gradient(180deg, rgba(96, 68, 12, 0.72) 23.44%, rgba(234, 155, 9, 0) 100%);
         color: #000;
      }
      @media (max-width: 768px) {
         font-size: 14px;
         line-height: 18px;
         padding: 10px 25px;
         max-width: 167px;
      }
   }

   &__img {
      position: relative;
      &::before {
         content: "";
         width: calc(435 / 365 * 100%);
         height: 100%;
         z-index: 1;
         background-image: url("../img/images-bg.svg");
         background-repeat: no-repeat;
         background-position: center;
         position: absolute;
         top: 0;
         right: calc(-174 / 365 * 100%);
         background-size: 90% 90%;
      }
   }

   &__photo {
      position: relative;
      z-index: 2;
      max-width: 365px;
      width: 100%;
      border-radius: 50%;
      position: relative;
      z-index: 30;
   }
}
//</Designer>========================================

//<Services>========================================
.services {
   background-color: $color-bg;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("../img/services-bg.png");
   &__body {
      padding-top: 15px;
      padding-bottom: 55px;
      @media (max-width: 1024px) {
         padding-bottom: 10px;
      }
      @media (max-width: 768px) {
         padding-bottom: 0;
      }
   }

   &__title {
      margin-left: 30px;
      margin-bottom: 55px;
      @media (max-width: 1024px) {
         @include adaptiveValue("margin-left", 20, 0);
         @include adaptiveValue("margin-bottom", 40, 30);
      }
   }

   &__skills {
      display: flex;
      justify-content: space-between;
      margin-bottom: 200px;
      @media (max-width: 1024px) {
         flex-wrap: wrap-reverse;
         margin-bottom: 80px;
      }
      @media (max-width: 768px) {
         flex-direction: column;
         flex-wrap: nowrap;
         margin-bottom: 25px;
      }
   }

   &__content {
      display: flex;
      justify-content: space-around;
      @media (max-width: 768px) {
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
      }
   }

   &__box {
      max-width: 180px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      &:nth-child(2) {
         margin-top: -120px;
         @media (max-width: 768px) {
            margin-top: 0;
         }
      }
      @media (max-width: 768px) {
         margin-bottom: 50px;
      }

      &-square {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 20px;
         max-width: 90px;
         width: 100%;
         margin-bottom: 50px;
         position: relative;
         transform: rotate(45deg);
         &::before {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0.5;
            border: 1px solid $color-orange;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.6s ease-in-out 0s;
         }
         @media (max-width: 768px) {
            margin-bottom: 35px;
         }
         @media (any-hover: hover) {
            &:hover {
               &::before {
                  transform: translate(-50%, -50%) rotate(180deg);
               }
            }
         }
      }

      &-img {
         transform: rotate(-45deg);
      }

      &-text {
         max-width: 150px;
      }
   }
}
.skills {
   max-width: 278px;
   width: 100%;
   padding: 35px 25px 15px 25px;
   border: 1px solid $color-orange;
   border-radius: 5px;
   transition: all 0.8s;
   @media (any-hover: hover) {
      &:hover {
         border-color: $color-white;
         color: $color-orange;
         scale: 110%;
         box-shadow: 0px 0px 8px 4px $color-orange;
      }
   }
   @media (max-width: 1024px) {
      margin: 0 41px;
   }
   @media (max-width: 768px) {
      margin: 0px auto 15px auto;
      min-width: 278px;
      max-width: 500px;
   }
   &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      &-title {
         max-width: 90px;
         font-weight: 700;
         font-size: 18px;
         line-height: 23px;
         letter-spacing: 0.1em;
         color: $color-white;
      }
   }
   &__text {
      max-width: 192px;
      @media (max-width: 768px) {
         min-width: 192px;
         max-width: 400px;
      }
   }
   &__order {
      @media (max-width: 1024px) {
         order: 1;
         margin: 0px auto 15px auto;
      }
      @media (max-width: 768px) {
         order: 0;
         margin: 0px auto 15px auto;
      }
   }
}
//</Services>========================================

//<Portfolio>========================================
.portfolio {
   padding: 55px 30px 30px 30px;
   background-color: #0c0c0c;
   height: 700px;
   @media (max-width: 1024px) {
      padding-left: 0;
      padding-right: 0;
   }
   @media (max-width: 768px) {
      height: auto;
   }
   &__title {
      margin-bottom: 75px;
      @media (max-width: 1024px) {
         padding: 0 30px;
      }
   }
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 0;
   }
}
.filter__list.swiper-container {
   max-width: 790px;
   height: 332px;
   width: 100%;
   margin-bottom: 70px;
   overflow: hidden;
   position: relative;
   @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 530px;
      height: 820px;
      margin-bottom: 0;
   }
}
.filter__item.swiper-wrapper {
   @media (max-width: 768px) {
      max-width: 240px;
      width: 100%;
   }
}
.filter__list .swiper-pagination {
   bottom: 0;
   @media (max-width: 768px) {
      bottom: 215px;
      right: 0;
   }
}
.swiper-pagination-bullet {
   width: 10px;
   height: 10px;
   background-color: #848484;
   cursor: pointer;
   &:hover {
      background-color: $color-orange;
   }
}
.swiper-pagination-bullet-active {
   background-color: $color-orange;
}

.filter {
   &__menu {
      font-weight: 500;
      max-width: 530px;
      width: 100%;
      padding: 12px;
      background: #131313;
      border: 3px solid #363636;
      border-radius: 5px;
      margin-bottom: 70px;
      text-align: center;
      @media (max-width: 768px) {
         margin-bottom: 30px;
      }
   }
   &__btn {
      margin: 5px 7px;
      color: $color-white;
      border-bottom: 1px solid transparent;
      transition: all .6s;
      cursor: pointer;
      &.all {
         margin-right: 25px;
      }
      &:hover {
         border-color: $color-orange;
      }
      &.active {
         font-size: 16px;
         line-height: 20px;
         color: $color-text-main;
         border-color: $color-orange;
      }
   }
   &__link {
      text-align: center;
   }
   &__link img {
      max-width: 230px;
      min-width: 230px;
      height: 210px;
      border: 3px solid rgba(132, 132, 132, 0.3);
      border-radius: 5px;
      object-fit: cover;
      margin-bottom: 15px;
   }
}
.hide {
   display: none;
   animation-duration: 2s;
   animation-name: a1;
   animation-fill-mode: forwards;
   transition: display 2s;   
}
@keyframes a1 {
   to {
      display: block;
   }
}

//</Portfolio>========================================

//<Reviews>========================================
.reviews {
   padding: 35px 30px 100px 30px;
   background-color: #171717;
   @media (max-width: 1024px) {
      padding: 30px 0;
   }
   &__title {
      margin-bottom: 90px;
      @media (max-width: 1024px) {
         padding-left: 30px;
         margin-bottom: 30px;
      }
   }
   &__body {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1024px) {
         flex-direction: column-reverse;
      }
   }
   &__form {
      @media (max-width: 1024px) {
         align-self: flex-start;
         margin-top: -145px;
      }
      @media (max-width: 768px) {
         align-self: center;
         margin-top: 0;
      }
   }
}
.clients-reviews {
   @media (max-width: 1024px) {
      align-self: flex-end;
   }
   @media (max-width: 768px) {
      align-self: center;
      margin-bottom: 55px;
   }
   &__box {
      @media (max-width: 768px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin-top: 20px;
      }
   }
   &__content {
      max-width: 470px;
      width: 100%;
      margin-bottom: 40px;
      position: relative;
      @media (max-width: 768px) {
         max-width: 380px;
         margin-bottom: 20px;
      }
      &--first {
         margin-left: 2px;
         @media (max-width: 768px) {
            margin-left: 0;
         }
      }
      &--second {
         margin-left: 40px;
         @media (max-width: 768px) {
            margin-left: 0;
         }
      }
      &--third {
         margin-left: 80px;
         @media (max-width: 768px) {
            margin-left: 0;
         }
      }
      &-img {
         position: absolute;
         top: -20px;
         left: 0;
         width: 80px;
         height: 80px;
         border-radius: 50%;
         border: 1px solid #fff;
         object-fit: cover;
         background-color: #fff;
         z-index: 5;
         @media (max-width: 768px) {
            width: 55px;
            height: 55px;
            top: 10px;
            left: 20px;
         }
      }
   }
   &__content-box {
      max-width: 370px;
      width: 100%;
      padding: 10px 15px 10px 45px;
      margin: 20px 0px 0px 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: linear-gradient(180deg, #848484 0%, rgba(132, 132, 132, 0) 100%);
      border-radius: 5px;
      color: $color-white;
      position: relative;
      z-index: 2;
      @media (max-width: 768px) {
         max-width: 200px;
      }
      &::after {
         content: '';
         position: absolute;
         width: 428px;
         height: 90px;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         z-index: -1;
         border-radius: 5px;
         border: 1px solid rgb(217, 146, 10, 0.7);
         filter: drop-shadow(0px 1px 10px);
         @media (max-width: 768px) {
            width: 259px;
            height: 60px;
         }
      }
      &--left {
         font-family: 'Roboto', sans-serif;
         font-weight: 500;
         font-size: 12px;
         line-height: 14px;
         margin-top: 12px;
         @media (max-width: 768px) {
            font-size: 8px;
            line-height: 9px;
            margin-top: 5px;
         }
         & span {
	         font-family: 'Inter', sans-serif;
            font-size: 10px;
            line-height: 12px;
            color: rgba(255, 255, 255, 0.47);
            @media (max-width: 768px) {
               font-size: 6px;
               line-height: 7px;
            }
         }
         & p {
            margin-top: 10px;
            margin-bottom: 5px;
            @media (max-width: 768px) {
               margin-top: 5px;
            }
         }
      }
      &--right {
         position: relative;
         &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 40px;
            top: 15px;
            border-left: 1px solid #fff;
            @media (max-width: 768px) {
               top: 0;
            }
         }
      }
      &--right p {
         font-family: 'Inter', sans-serif;
         font-weight: 300;
         font-size: 10px;
         line-height: 12px;
         padding-left: 15px;
         @media (max-width: 768px) {
            font-size: 6px;
            line-height: 7px;
         }
      }
   }
}
.clients-reviews.swiper-container {
   max-width: 570px;
   width: 100%;
   overflow: hidden;
   position: relative;
   @media (max-width: 768px) {
      max-width: 292px;
   }
}
.clients-reviews .swiper-wrapper {
   @media (max-width: 768px) {
      margin-left: -20px;
   }
}
.clients-reviews .swiper-pagination {
   @media (max-width: 768px) {
      bottom: -5px;
   }
}
// Form style
.form {
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
         opacity: 0;
         visibility: hidden;
         transition: all 0.5s ease 0s;
      }
      &._sending::after {
         opacity: 1;
         visibility: visible;
      }
   }
   &__item {
      z-index: 20;
      background-color: #171717;
   }
   &__item + .form__item {
      margin-top: 30px;
   }
   &__item-input {
      min-width: 277px;
      padding: 12px;
      border: 1px solid $color-orange;
      border-radius: 5px;
      background-color: #171717;
      color: $color-white;
      &::placeholder {
         font-weight: 500;
         font-size: 12px;
         line-height: 15px;
      }
   }
   &__button {
      margin-top: 20px;
      margin-right: 127px;
   }
}
.form__item-input._error {
   box-shadow: 0 0 10px $color-orange;
}
textarea.form__item-input {
   min-height: 80px;
   resize: vertical;
}
.file {
   &__preview {
      display: inline-block;
      width: 86px;
      height: 86px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid $color-orange;
      margin-bottom: 15px;
      background-color: #848484;
      background-image: url("../img/camera.svg");
      background-repeat: no-repeat;
      background-position: center;
   }
   &__preview img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      background-color: #fff;
   }
   &__item {
      position: relative;
   }
   &__item-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      font-size: 0;
      cursor: pointer;
      max-width: 95px;
   }
   &__button {
      font-size: 12px;
      line-height: 15px;
      text-decoration-line: underline;
   }
}
//</Reviews>========================================
