.case-9 {
	&__body {
		width: calc(100% - 130px);
		display: grid;
		align-items: center;
		grid-template-columns: 0.65fr 1fr;
		@include adaptiveValue("gap", 70, 30);
		@include screen-xxl {
			width: 100%;
		}
		@include screen-xhl {
			grid-template-columns: auto;
		}
	}

	&__left {
		@include adaptiveValue("font-size", 36, 22);
		@include adaptiveValue("padding", 50, 25);
		line-height: 1.3;
		color: #686868;
		border: 2px solid #ff6b00;
		border-radius: 20px;
		@include screen-sm {
			border-radius: 10px;
		}
	}

	&__right {
		line-height: 1.3;
		@include adaptiveValue("font-size", 42, 22);
		span {
			color: $color-orange;
			font-weight: 500;
		}
	}

	&__bottom {
		color: $color-white;
		background: $color-orange;
		border-radius: 20px;
		text-align: center;
		line-height: 1.2;
		font-weight: 500;
		@include adaptiveValue("font-size", 90, 18);
		@include adaptiveValue("margin-top", 70, 40);
		@include adaptiveValue("padding-top", 50, 15);
		@include adaptiveValue("padding-bottom", 60, 15);
		@include adaptiveValue("padding-right", 70, 45);
		@include adaptiveValue("padding-left", 70, 45);
		@include screen-sm {
			border-radius: 10px;
		}
	}
}
