.case-19 {
	&__title {
		font-weight: 500;
		line-height: 1;
		color: $color-orange;
		@include adaptiveValue("font-size", 150, 44);
		@include adaptiveValue("margin-bottom", 80, 20);
		@include screen-sm {
			line-height: 1.2;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: 0.9fr 1.1fr;
		align-items: start;
		@include adaptiveValue("gap", 60, 30);
		@include screen-xxl {
			grid-template-columns: auto;
		}
	}

	&__content {
		@include adaptiveValue("font-size", 36, 18);
		line-height: 1.3;
		color: #424242;
		strong {
			@include adaptiveValue("font-size", 50, 22);
			color: $color-orange;
			line-height: 1.2;
			font-weight: 400;
		}
		@include screen-sm {
			line-height: 1.5 !important;
		}
	}

	&__box {
		background: $color-orange;
		border-radius: 15px;
		color: $color-white;
		font-weight: 500;
		@include adaptiveValue("padding-top", 70, 15);
		@include adaptiveValue("padding-bottom", 80, 15);
		@include adaptiveValue("padding-left", 60, 15);
		@include adaptiveValue("padding-right", 60, 15);
	}

	&__box-title {
		line-height: 1.1;
		@include adaptiveValue("font-size", 70, 24);
		@include adaptiveValue("margin-bottom", 80, 20);
		@include screen-xhl {
			font-weight: 400;
		}
	}

	&__box-number {
		display: inline-flex;
		align-items: flex-end;
		line-height: 0.9;
		@include adaptiveValue("font-size", 70, 24);
		span {
			@include adaptiveValue("font-size", 330, 100);
			line-height: 0.7;
			margin-right: 25px;
			@include screen-xxl {
				margin-right: 10px;
			}
		}
	}
}
