.case-1 {
	position: relative;
	background: $color-blue;
	color: $color-white;
	&__container {
		display: grid;
		grid-template-columns: auto;
	}

	&__top {
	}

	&__top-logo {
		font-weight: 500;
		line-height: 0.9;
		@include adaptiveValue("font-size", 100, 32);
		span {
			line-height: 0.9;
			display: inline-block;
		}
		svg {
			@include adaptiveValue("width", 59, 18);
			@include adaptiveValue("height", 52, 16);
			fill: $color-white;
		}
	}

	&__title {
		@include adaptiveValue("font-size", 90, 24);
		@include adaptiveValue("margin-bottom", 90, 40);
		line-height: 1.1;
		margin-top: 40px;
	}

	&__calc {
		display: flex;
		align-items: center;
		text-align: center;
		span {
			font-weight: 300;
			@include adaptiveValue("font-size", 70, 22);
			line-height: 1;
			display: block;
			@include adaptiveValue("margin-left", 20, 7);
			@include adaptiveValue("margin-right", 20, 7);
		}
	}

	&__total {
		@include adaptiveValue("margin-top", 85, 40);
		@include adaptiveValue("font-size", 80, 30);
		line-height: 1;
		align-self: flex-end;
		margin-bottom: 40px;
		strong {
			font-weight: 500;
		}
	}
}
.case-1-calc {
	@include screen-xxl {
		display: grid;
		grid-template-columns: 1fr 0.4fr 1fr 0.4fr;
		row-gap: 20px;
	}
	@include screen-xhl {
		display: grid;
		grid-template-columns: 1fr 0.1fr 1fr 0.1fr;
		row-gap: 20px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("padding-top", 20, 10);
		@include adaptiveValue("padding-bottom", 20, 10);
		@include adaptiveValue("padding-right", 40, 15);
		@include adaptiveValue("padding-left", 40, 15);
		background: rgba(255, 255, 255, 0.33);
		border-radius: 20px;
		&:nth-child(7) {
			font-weight: 900;
		}
		@include screen-xxl {
			height: 100%;
			&:nth-child(9) {
				grid-row: 3;
				grid-column: 1/3 span;
			}
		}
		p {
			font-size: 30px;
			line-height: 1.2;
			@include adaptiveValue("font-size", 36, 20);
			line-height: 1.2;
			strong {
				font-weight: 900;
				@include adaptiveValue("font-size", 70, 28);
			}
		}
	}
}
