.page-case {
}
.case-container {
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
	@include adaptiveValue("padding-left", 100, 15);
	@include adaptiveValue("padding-right", 100, 15);
	@include adaptiveValue("padding-top", 80, 30);
	@include adaptiveValue("padding-bottom", 120, 30);
	@include screen-xxl {
		min-height: auto;
		max-height: unset;
	}
}

@import "./case-1";
@import "./case-2";
@import "./case-3";
@import "./case-4";
@import "./case-5";
@import "./case-6";
@import "./case-7";
@import "./case-8";
@import "./case-9";
@import "./case-10";
@import "./case-11";
@import "./case-12";
@import "./case-13";
@import "./case-14";
@import "./case-15";
@import "./case-16";
@import "./case-17";
@import "./case-18";
@import "./case-19";
@import "./case-20";
