.designer {
   &__title {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0s;
      &._active-scroll {
         transform: translate(0px, 0px);
         opacity: 1;
      }
   }
   &__position {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0.4s;
      &._active-scroll {
         transform: translate(0px, 0px);
         opacity: 1;
      }
   }
   &__text {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0.6s;
      &._active-scroll {
         transform: translate(0px, 0px);
         opacity: 1;
      }
   }
   &__btn {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 1s;
      &._active-scroll {
         transform: translate(0px, 0px);
         opacity: 1;
      }
   }
}
._anim-show {
   transform: translate(0px, 120%);
   opacity: 0;
   transition: all 0.8s ease 0s;
}
._anim-show._active-scroll,
._active-scroll ._anim-show {
   opacity: 1;
   transform: translate(0px, 0px);
}
.services {
   &__box {
      &:nth-child(1) {
         transition: all 0.8s ease 0.4s;
      }
      &:nth-child(2) {
         transition: all 0.8s ease 0s;
      }
      &:nth-child(3) {
         transition: all 0.8s ease 0.4s;
      }
   }
}
.skills {
   &:nth-child(1) {
      transition: all 0.8s ease 0s;
   }
   &:nth-child(2) {
      transition: all 0.8s ease 0.2s;
   }
   &:nth-child(3) {
      transition: all 0.8s ease 0.4s;
   }
}
._anim-show-port {
   transform: translate(120%, 0px);
   opacity: 0;
   transition: all 0.8s ease 0.8s;
}
._anim-show-port._active-scroll,
._active-scroll ._anim-show-port {
   opacity: 1;
   transform: translate(0px, 0px);
}
.filter {
   &__menu {
      transform: translate(120%, 0px);
      opacity: 0;
      transition: all 0.8s ease 0.4s;
      &._active-scroll {
         transform: translate(0px, 0px);
         opacity: 1;
      }
   }
}
.form {
   &__item {
      &:nth-child(1) {
         transition: all 0.8s ease 0s;
      }
      &:nth-child(2) {
         transition: all 0.8s ease 0.2s;
      }
      &:nth-child(3) {
         transition: all 0.8s ease 0.4s;
      }
      &:nth-child(4) {
         transition: all 0.8s ease 0.6s;
      }
   }
   &__button {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0.8s;
      &._active-scroll {
         transform: translate(0px, 0px);
         opacity: 1;
      }
   }
}
.clients-reviews {
   &__content {
      &:nth-child(1) {
         transition: all 0.8s ease 0s;
      }
      &:nth-child(2) {
         transition: all 0.8s ease 0.2s;
      }
      &:nth-child(3) {
         transition: all 0.8s ease 0.4s;
      }
   }
}

.footer {
   &__social--link {
      &:nth-child(1) {
         transition: all 0.8s ease 0.2s;
      }
      &:nth-child(2) {
         transition: all 0.8s ease 0.4s;
      }
      &:nth-child(3) {
         transition: all 0.8s ease 0.6s;
      }
      &:nth-child(4) {
         transition: all 0.8s ease 0.8s;
      }
   }
   &__social-items--item {
      &:nth-child(1) {
         transition: all 0.8s ease 0.8s;
      }
      &:nth-child(2) {
         transition: all 0.8s ease 1s;
      }
   }
   &__logo {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0.8s;
      &._active-scroll {
         transform: translate(0px, 0px);
         opacity: 1;
      }
   }
}