.header {
   background-color: #1e1e1e;
   min-height: 76px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
      z-index: 5;
      transition: all 0.8s;
      @media (any-hover: hover) {
         &:hover {
            scale: 120%;
         }
      }
   }

   &__menu {
      margin: 25px 0;
      @media (max-width: 768px) {
         order: 4;
      }
   }
}

.menu {
   &__icon {
      display: none;
   }

   &__body {
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $color-white;
   }

   &__list {
      display: flex;
      @media (max-width: 768px) {
         display: inline-block;
      }
   }

   .menu__list li + li {
      margin-left: 50px;
      @media (max-width: 1024px) {
         margin-left: 30px;
      }
      @media (max-width: 768px) {
         margin: 40px 0px 0px 0px;
      }
   }

   &__link {
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;
      transition: all 0.6s;
      &:hover {
         border-color: $color-orange;
         color: $color-text-main;
      }
   }
}

@media (max-width: 768px) {
   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
   }
   .menu__body::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 76px;
      background-color: #1e1e1e;
      z-index: 2;
   }
   .menu__body._active {
      left: 0;
   }
   .menu__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 55px;
      height: 27px;
      cursor: pointer;
   }
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
   }
   .menu__icon::before,
   .menu__icon::after {
      content: "";
   }
   .menu__icon::before {
      top: 0;
   }
   .menu__icon::after {
      bottom: 0;
   }
   .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .menu__icon._active span {
      transform: scale(0) translate(0px, -50%);
   }
   .menu__icon._active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }
}

.lang {
   z-index: 5;
	position: relative;
	&__current {
		padding: 7px 14px;
		border: 1px solid transparent;
      border-bottom: none;
		transition: all 0.3s ease 0s;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
		display: flex;
		align-items: center;
      cursor: pointer;
		&.active {
         border-color: $color-text-main;
		}
	}

	&__dropdown {
		position: absolute;
		top: 120%;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border: 1px solid $color-text-main;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
		border-top: none;
		background: #1e1e1e;
		padding: 7px 14px;
		transition: all 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		&.active {
			top: 100%;
			opacity: 1;
			visibility: visible;
		}
	}
}